@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500..800;1,500..800&display=swap');

@media screen and (min-width: 1000px){
  .container{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    width: 90%;
    margin: auto;
  }
  main{
    width: 70%
  }
  main > img{
    margin: 5vh 0 0;
    border-radius: 5px;
    overflow: hidden;
  }
  main section{
    padding: 2vh 0 3vh;
  }
  main article{
    padding: 0;
  }



  aside{
    display: flex;
    flex-direction: column;
    padding: 4vh 0;
    gap: 20px;
    width: 40%;
  }
}